[Unit]
Description=The Smartest Kerbonaut
After=network.target

[Service]
ExecStart=/home/aaron/bob/venv/bin/python /home/aaron/bob/app.py
WorkingDirectory=/home/aaron/Apps/bob/venv/bin
Restart=always
User=aaron
Group=aaron
Environment="PATH=/home/aaron/Apps/bob/venv/bin"

[Install]
WantedBy=multi-user.target
